* {
  position: relative;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,700");
@import "utility";
@import "mixins";
/* HSL */

$color1: hsla(0%, 0%, 96%, 1);
$color2: hsla(191%, 55%, 53%, 1);
$color3: hsla(208%, 79%, 76%, 1);
$color4: hsla(301%, 35%, 47%, 1);
$color5: hsla(295%, 62%, 32%, 1);
/* RGB */

$color1: rgba(244, 244, 244, 1);
$color2: rgba(70, 177, 201, 1);
$color3: rgba(145, 196, 242, 1);
$color4: rgba(161, 77, 160, 1);
$color5: rgba(126, 31, 134, 1);
html,
body,
#root,
#root > div {
  width: 100%;
  height: 100%;
  background: $color1;
  font-family: "Quicksand", sans-serif;
}

main,
section,
footer,
header {
  @extend %full-width-float;
}

main {
  overflow-y: scroll;
  padding-bottom: 50px;
}

main,
main .inner {
  min-height: 400px;
}

main .inner,
section .inner,
footer .inner,
header .inner {
  @extend %full-width-inner;
}

h1.logo {
  float: left;
}

section.navigation {
  background: $color4;
  margin-bottom: 12px;
}

section.navigation ul {
  list-style: none;
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}

section.navigation ul li {
  display: table-cell;
  width: 12%;
}

section.navigation ul li a,
section.navigation ul li button {
  display: block;
  width: 100%;
  float: left;
  height: auto;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 100%;
  font-weight: 600;
  padding: 15px 0 !important;
  background: none;
  border: 0;
  margin: 0;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0px;
  padding-top: 20px;
  background: $color5;
  height: auto;
}

main body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select,
textarea,
label {
  width: 100%;
  float: left;
  margin-bottom: 12px;
  padding: 1%;
}

label {
  padding: 0;
}

input,
select,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

textarea {
  resize: vertical;
  min-height: 120px;
}

button {
  cursor: pointer;
  background: $color2;
  width: 100%;
  float: left;
  margin-bottom: 12px;
  border: 0;
  padding: 1%;
  color: #fff;
  border-radius: 6px;
}

.signin {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 20%;
  input,
  button {
    width: 100%;
    float: left;
    margin-bottom: 12px;
    padding: 8px;
    border: 0px;
  }
}

[data-toggle="false"] {
  display: none;
  z-index: 999999;
}

[data-toggle="true"] {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  z-index: 999999;
}

[data-toggle] {
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .modal {
    position: fixed;
    width: 40%;
    height: auto;
    background: #fff;
    box-sizing: border-box;
    padding: 2%;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .ReactCodeMirror {
      width: 100%;
      height: 240px;
      float: left;
      margin-bottom: 12px;
    }
  }
}

.snippet-container {
  width: 100%;
  float: left;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  grid-gap: 2%;
  .ReactCodeMirror {
    width: 100%;
    height: 240px;
    float: left;
    margin-bottom: 12px;
  }
  .snippet {
    background: darken($color1, 2%);
    padding: 2%;
    code {
      width: 100%;
      float: left;
      margin-bottom: 12px;
      background: lighten($color1, 2%);
      padding: 1%;
    }
  }
}

.react-codemirror2 {
  width: 100%;
  float: left;
  height: auto;
}

.splash {
  width: 100%;
  float: left;
  height: auto;
  min-height: 600px;
  p{
    a{
      text-decoration: none;
      color: $color2;
      font-weight: 900;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.search-options{
  width:100%;
  float: left;
  height: auto;
  margin-left: -1%;
  .input{
    width: 32%;
    float: left;
    margin-left: 1%;
  }
}

form {
  width: 100%;
  margin-bottom: 12px;
  background: #fff;
  border-radius: 4px;
  background: #fff;
  padding: 5%;
  height: auto;
  float: left;
}
